


@import url('https://fonts.googleapis.com/css2?family=Arkhip:wght@400;700&display=swap');


@font-face {
    font-family: 'Lena';
    src: url('https://fonts.cdnfonts.com/s/15541/Lena-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Lena';
    src: url('https://fonts.cdnfonts.com/s/15541/Lena-Bold.woff') format('woff');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}


@import url('https://fonts.googleapis.com/css2?family=Geologica:wght@300;400;500;700&display=swap');


@font-face {
    font-family: 'Nevduplenysh';
    src: url('https://fonts.cdnfonts.com/s/96426/Nevduplenysh.woff') format('woff');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}


@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap');
